exclude: "^docs/|/migrations/"
default_stages: [pre-commit]

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: isort
        args: ["--settings-path=setup.cfg"]
        language: system
        types: [python]
      - id: flake8
        name: flake8
        entry: flake8
        args: ["--config=setup.cfg"]
        language: system
        types: [python]
