services:
  api:
    env_file: .env
    container_name: shark-bot-api-container
    build:
      context: .
      dockerfile: Dockerfile
      target: base
      args:
        ENVIRONMENT: ${ENVIRONMENT}
    command: sh -c "sleep 5 && gunicorn config.wsgi:application --bind 0.0.0.0:8000"
    stdin_open: true
    tty: true
    volumes:
      - .:/app
    expose:
      - "8000"
